In [16]:
import pandas as pd

In [17]:
df = pd.read_excel("usuarios.xlsx")

display(df)

         date account_id user_id
0  2020-12-06         A1      U1
1  2021-01-15         A1      U2
2  2021-01-06         A1      U3
3  2021-01-02         A1      U1
4  2020-12-24         A1      U2
5  2020-12-08         A1      U1
6  2020-12-09         A1      U1
7  2021-01-10         A2      U4
8  2021-01-11         A2      U4
9  2021-01-12         A2      U4
10 2021-01-15         A2      U5
11 2020-12-17         A2      U4
12 2020-12-25         A3      U6
13 2020-12-25         A3      U6
14 2020-12-25         A3      U6
15 2021-01-01         A3      U7
16 2020-12-06         A3      U6
17 2021-01-14         A3      U6
18 2021-02-07         A1      U1
19 2021-02-10         A1      U2
20 2021-02-01         A2      U4
21 2021-02-01         A2      U5

In [18]:
lista_usuarios = set(df["user_id"])

for usuario in lista_usuarios:
    sub_df = df[df["user_id"] == usuario]
    sub_df = sub_df.sort_values(by="date").reset_index(drop=True)
    
    if len(sub_df) < 3:
        continue
    
    for index in range(len(sub_df) - 2):
        data1 = sub_df["date"][index]
        data2 = sub_df["date"][index + 1]
        data3 = sub_df["date"][index + 2]
        
        dif1 = (data3 - data2).days
        dif2 = (data2 - data1).days
        
        if (dif1 == 1) and (dif2 == 1):
            print(f"Usuário com 3 dias de atividades consecutivas encontrado: {usuario}")

Usuário com 3 dias de atividades consecutivas encontrado: U4

In [19]:
prova_real = df[df["user_id"] == "U4"].sort_values(by="date")
display(prova_real)

         date account_id user_id
11 2020-12-17         A2      U4
7  2021-01-10         A2      U4
8  2021-01-11         A2      U4
9  2021-01-12         A2      U4
20 2021-02-01         A2      U4